*.exe
*.bin
*.app
hashcat.pot
obj/*/*.o
obj/*.o
release/*
deps/*
deps/**
src/.deps
src/*.o
src/hashcat
src/rules-debug

aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
stamp-h1
missing

Makefile.in
charsets/Makefile.in
docs/Makefile.in
masks/Makefile.in
rules/Makefile.in
salts/Makefile.in
src/Makefile.in
tables/Makefile.in
tools/Makefile.in

Makefile
charsets/Makefile
docs/Makefile
masks/Makefile
rules/Makefile
salts/Makefile
src/Makefile
tables/Makefile
tools/Makefile
